breadability==0.1.20
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
docopt==0.6.2
idna==3.10
joblib==1.4.2
lxml==5.3.2
nltk==3.9.1
numpy==1.26.4
pycountry==24.6.1
PyPDF2==3.0.1
regex==2024.11.6
requests==2.32.3
scipy==1.13.1
smart-open==7.1.0
sumy==0.11.0
tqdm==4.67.1
urllib3==2.4.0
wrapt==1.17.2
